version: '3.9'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - instance:/app/instance
    env_file: .env
    restart: unless-stopped

volumes:
  instance:
